<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.bocoder.locationupdates" version="0.0.1">

   <name>BLLocationUpdates</name>

   <description>Cordova plugin for sending periodical location updates to your backend server. Runs as a background service.</description>
   <license>MIT</license>
   <keywords>background location, gps</keywords>

   <js-module name="BLLocationUpdates" src="www/BLLocationUpdates.js">
      <clobbers target="cordova.plugins.BLLocationUpdates" />
   </js-module>

   <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>


   <platform name="ios">
      <!-- required background modes:  App registers for location updates -->
        
      <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
         <string>This app requires background location tracking</string>
      </config-file>

      <config-file target="*-Info.plist" parent="UIBackgroundModes">
         <array>
             <string>location</string>
         </array>
      </config-file>


      <config-file parent="/*" target="config.xml">
         <feature name="BLLocationUpdates">
            <param name="ios-package" value="BLLocationUpdates" />
         </feature>
      </config-file>

      <framework src="CoreLocation.framework" />

      <source-file src="src/ios/BLLocationService.h" />
      <source-file src="src/ios/BLLocationService.m" />

      <source-file src="src/ios/BLLocationUpdates.m" />
      
   </platform>



   <platform name="android">
      <source-file src="src/android/BLLocationService.java" target-dir="src/com/bocoder/locationupdates" />
      <source-file src="src/android/BLLocationUpdates.java" target-dir="src/com/bocoder/locationupdates" />
      <source-file src="src/android/BLBootReceiver.java" target-dir="src/com/bocoder/locationupdates" />
      <source-file src="src/android/BLPermissionHelper.java" target-dir="src/com/bocoder/locationupdates" />

      <config-file target="config.xml" parent="/*">
         <feature name="BLLocationUpdates">
             <param name="android-package" value="com.bocoder.locationupdates.BLLocationUpdates" />
         </feature>
     </config-file>



     <config-file target="AndroidManifest.xml" parent="/manifest/application">
         <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

         <service android:enabled="true" android:exported="false" android:name="com.bocoder.locationupdates.BLLocationService"
                  android:process=":remote" android:stopWithTask="false">
         </service>
         <receiver android:name="com.bocoder.locationupdates.BLBootReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED"/>
               <action android:name="restartBLLocationService" />
            </intent-filter>
         </receiver>
     </config-file>

     <config-file target="AndroidManifest.xml" parent="/manifest">
         <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
         <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
         <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
         <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
         <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
         <uses-permission android:name="android.permission.INTERNET"/>
     </config-file>

     <framework src="com.google.android.gms:play-services-location:+" />
   
   </platform>




</plugin>