<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.boyvanderlaak.locationupdates" version="0.0.1">

   <name>BLLocationUpdates</name>

   <description>Cordova plugin for sending periodical location updates to your backend server. Runs as a background service.</description>
   <license>MIT</license>
   <keywords>background location, gps</keywords>

   <js-module name="BLLocationUpdates" src="www/BLLocationUpdates.js">
      <clobbers target="cordova.plugins.BLLocationUpdates" />
   </js-module>

   <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>


   <platform name="ios">
      <!-- required background modes:  App registers for location updates -->
        
      <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
         <string>This app requires background location tracking</string>
      </config-file>

      <config-file target="*-Info.plist" parent="UIBackgroundModes">
         <array>
             <string>location</string>
         </array>
      </config-file>


      <config-file parent="/*" target="config.xml">
         <feature name="BLLocationUpdates">
            <param name="ios-package" value="BLLocationUpdates" />
         </feature>
      </config-file>

      <framework src="CoreLocation.framework" />

      <source-file src="src/ios/BLLocationService.h" />
      <source-file src="src/ios/BLLocationService.m" />

      <source-file src="src/ios/BLLocationUpdates.m" />
      
   </platform>

</plugin>